/* General */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #f6f7fc;
    padding-top: 4px;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

/* Modules tweaks */

#workspaces button {
    margin: 3px;
    padding: 3px 5px;
    color: #f6f7fc;
    border-radius: 16px;
}

#workspaces button.active {
    color: #000000;
    background: #bea8ff;
}

#workspaces button:hover {
    background: #111a1b;
    color: #cdd6f4;
}

#temperature.critical {
    color: #e92d4d;
}

#custom-updates {
    padding: 0 4px;
}

#taskbar button {
    border-radius: 8px;
}

#taskbar button:not(:last-child) {
    margin-right: 4px;
}

#taskbar button.active, #taskbar button:hover {
    background: rgba(135, 145, 238, 0.5);
}

#custom-weather {
    background: rgba(97, 52, 135, 0.1);
    transition: background-color 0.2s;
    border-radius: 16px;
    padding: 0 8px;
}

#custom-weather:hover { background: rgba(63, 34, 88, 0.2); }

/* Background hover effect */
#language,
#pulseaudio,
#custom-launch_browser,
#custom-updates,
#custom-launch_file_manager,
#custom-wofi,
#custom-launch_terminal {
    margin-left: 0px;
    transition: background-color 0.2s;
    border-radius: 4px;
}

#custom-power_btn,
#custom-lock_screen {
    transition: background-color 0.2s;
    border-radius: 50%;
}

#language:hover,
#pulseaudio:hover,
#custom-updates:hover,
#custom-power_btn:hover,
#custom-lock_screen:hover,
#custom-launch_browser:hover,
#custom-launch_file_manager:hover,
#custom-wofi:hover,
#custom-launch_terminal:hover {
    background-color: rgba(20, 20, 20, 0.5);
}

/* Element spacing */
#clock,
#custom-song_player,
#temperature,
#custom-gpu_temperature,
#pulseaudio.microphone,
#tray {
    margin-right: 4px;
}

/* Precise handling of element padding since most icons' widths aren't consistent with monospaced fonts */

#custom-weather,
#custom-wofi,
#custom-launch_terminal,
#custom-launch_browser,
#custom-launch_file_manager {
    font-size: 19px;
}

/* Top left */
#custom-power_btn { padding-left: 8px; padding-right: 8px; }
#custom-lock_screen { padding-left: 8px; padding-right: 10px; }

/* Top right */
#pulseaudio { padding-left: 6px; padding-right: 10px; }
#pulseaudio.microphone { padding-left: 6px; padding-right: 6px; }
#pulseaudio.microphone.source-muted { padding-right: 12px; }
#language { padding-left: 6px; padding-right: 4px; }

/* Bottom left */
#custom-wofi { padding-left: 8px; padding-right: 10px; }
#custom-launch_terminal { padding-left: 8px; padding-right: 17px;}
#custom-launch_browser { padding-left: 8px; padding-right: 15px;}
#custom-launch_file_manager { padding-left: 8px; padding-right: 14px;}


/* The following blocks give the edge elements a bit of a margin */

/* Leftmost elements */
#custom-power_btn, #custom-wofi { margin-left: 8px; }

/* Rightmost elements */
#custom-light_dark, #custom-weather { margin-right: 12px; }
